table {
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
  /* text-align: center; */
}
th {
  background-color: lavender;
}
td {
  padding-left: 5px;
  background-color: lavenderblush;
}
